@using LicenseKeyShop.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_LayoutCustomer.cshtml";
}

<div class="row container-fluid" style="margin-top: 30px">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="font-size: 30px; font-weight: bold" scope="col">SHOPPING CART</th>
                </tr>
            </thead>
        </table>
        <div class="table-content">
            <h3>Order Successfully!!!</h3>
            <a href="../Product">Back to product</a>
        </div>
        <div class="text-center">

        </div>
    </div>
</div>

